.footer-container{
    width: 100%;
    height: 450px;
    background: #1d1d1b;
    color: #fff;
    padding: 77px 130px 15px 130px;
    display: flex;
}

.footer-left{
    width: 70%;
}

.footer-right{
    width: 30%;
}


.footer-logo{
    margin-bottom: 34px;
}

.footer-text{
    font-family: Proxima-Nova-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 45px;
}
.footer-tabs{
    display: flex;
    justify-content: space-between;
    width: 372px;
    margin-bottom: 69px;
    font-family: Proxima-Nova-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
}

.copyright-info{
    font-family: Proxima-Nova-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.contact-info,
.social-media-container{
    font-family: Proxima-Nova-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
}

.social-media-container{
    margin-top: 37px;
}

.contact-info .contact-header,
.media-heading{
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    display: block;
    margin-bottom: 5px;
}

.contact-info > div{
    display: flex;
    margin-bottom: 11px;
}

.contact-info span{
    margin-left: 24px;
}

span.location{
    line-height: 16px;
}

.media-info>div{
    margin-right: 20px;
}

.media-info{
    display: flex;
}

.terms-policies-container{
    margin-top: 39px;
    font-family: Proxima-Nova-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    display: flex;
    margin-right: 30px
}
